<template>
  <div class="col-12">
    <h1>Todos</h1>
    <input
      type="text"
      class="form-control add-todo"
      placeholder="Add todo"
      v-model="title"
      v-on:keyup.enter="saveTodo(title)"
    >
  </div>
</template>

<script>
export default {
  name: "AddTodo",
  data() {
    return {
      title: ""
    };
  },
  methods: {
    saveTodo(title) {
      //save todo si il me donne un title
      this.$emit("add-todo", {
        title,
        id: Date.now().toString(),
        completed: false
      });
    }
  }
};
</script>

<style>
</style>
