<template>
  <div>
    <h1>Already Done</h1>
    <br>
    <ul class="list-unstyled" v-for="todo in todos" :key="todo.id">
      <hr>
      <li>
        <p class="align-start">
          <del>{{todo.title}}</del>
          <i class="fa fa-trash float-right" @click="deleteTodo(todo.id)"></i>
        </p>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "DoneList",
  props: {
    todos: Array
  },
  methods: {
      deleteTodo(id){
          this.$emit('deleteTodo', id);
      }
  }
};
</script>

<style>
</style>
