<template>
  <div>
    <ul class="list-unstyled" v-for="todo in todos" v-bind:key="todo.id">
      <hr>
      <li>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="checkbox" aria-label="Checkbox for following text input" @click="moveToCompleted(todo.id)">
            </div>
          </div>
          <label>{{todo.title}}</label>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "TodoList",
  props: {
    todos: Array
  },
  methods:{
    moveToCompleted(id){
        this.$emit("moveToCompleted", id)
    }
  }
};
</script>

<style>
</style>
