<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <add-todos-vue @add-todo="addTodo"/>
          <todo-list-vue @moveToCompleted="moveToCompleted" :todos="unCompletedTodos"/>
        </div>
        <div class="col-6">
          <done-list-vue @deleteTodo="deleteTodo" :todos="completedTodos"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import AddTodosVue from "./components/AddTodos.vue";
import TodoListVue from "./components/TodoList.vue";
import DoneListVue from "./components/DoneList.vue";
export default {
  name: "app",
  components: {
    AddTodosVue,
    TodoListVue,
    DoneListVue
  },
  data() {
    return {
      todos: [
        {
          id: 1,
          title: "Learn Node",
          completed: true
        },
        {
          id: 2,
          title: "Learn JS",
          completed: true
        },
        {
          id: 3,
          title: "Learn Symfony",
          completed: true
        },
        {
          id: 4,
          title: "Learn Vue",
          completed: false
        },
        {
          id: 5,
          title: "Learn PHP",
          completed: false
        }
      ]
    };
  },
  computed: {
    unCompletedTodos() {
      return this.todos.filter(todo => todo.completed === false);
    },
    completedTodos() {
      return this.todos.filter(todo => todo.completed === true);
    }
  },
  methods:{
    addTodo(event){
            this.todos.push(event);
        },
        moveToCompleted(id){
          //on a l'id
          //on a un tableau
          const index = this.todos.findIndex(todo => todo.id == id);
            this.todos[index].completed = true;
            console.log(this.todos[id].title);
        },
        deleteTodo(id){
          const index = this.todos.findIndex(todo => todo.id == id);
          this.todos.splice(index,1);

        }
  }
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
